
/* Font Face */
@font-face {
    font-family: 'Winong Extended';
    src: url('../assets/font/Winong-Extended-Font/WinongExtendedBold.eot');
    src: url('../assets/font/Winong-Extended-Font/WinongExtendedBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Winong-Extended-Font/WinongExtendedBold.woff2') format('woff2'),
        url('../assets/font/Winong-Extended-Font/WinongExtendedBold.woff') format('woff'),
        url('../assets/font/Winong-Extended-Font/WinongExtendedBold.ttf') format('truetype'),
        url('../assets/font/Winong-Extended-Font/WinongExtendedBold.svg#WinongExtendedBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Winong Extended';
    src: url('../assets/font/Winong-Extended-Font/WinongExtendedRegular.eot');
    src: url('../assets/font/Winong-Extended-Font/WinongExtendedRegular.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/Winong-Extended-Font/WinongExtendedRegular.woff2') format('woff2'),
        url('../assets/font/Winong-Extended-Font/WinongExtendedRegular.woff') format('woff'),
        url('../assets/font/Winong-Extended-Font/WinongExtendedRegular.ttf') format('truetype'),
        url('../assets/font/Winong-Extended-Font/WinongExtendedRegular.svg#WinongExtendedRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.product_year {
    padding: 0 11px;
    color: #fff !important; 
    background: #F30000;
}
.product_year a{
    color: #fff !important;
}
.vehica-car-card__info__single {
    display: inline-block;
    line-height: 22px;
    border-radius: 5px;
    color: #CBD5DB;
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px;
    line-height: 28px;
}
.top-footer{
    display: flex;
}
